[submodule "src/collective.blog.feeds"]
	path = src/collective.blog.feeds
	url = https://github.com/Rudd-O/collective.blog.feeds
[submodule "src/contentratings"]
	path = src/contentratings
	url = https://github.com/collective/contentratings
