[buildout]
# Directory common to all deployments.
deployment-basedir = {{ deploymentdir }}

# Base directory for data of all deployments.
data-basedir = {{ datadir }}

# Place where this deployment keeps its data.
data-dir = ${buildout:data-basedir}/{{ item.key }}

extends = 
    base.cfg
    https://dist.plone.org/release/{{ item.value.version }}/versions.cfg
    versions.cfg

# If you change your Plone version, you'll also need to update
# the repository below.
find-links +=
    https://dist.plone.org/release/{{ item.value.version }}/

zeo-address = ${buildout:data-dir}/var/zeosocket
# Zope client 1
http-address = {{ item.value.zserver_address }}
# Additional clients:
debugger-address = {{ item.value.debugger_address }}

zserver-threads = {{ item.value.threads }}

# temporarily disabling the
# site-id = Rudd-O.com

# If you try to start Zope as root, it will change user id to run as
# the effective user specified here. This user id must own the var directory
# of your buildout.
effective-user = {{ process_user }}
